<main>
  <div class="h-100 d-flex justify-content-center align-items-center">
    <form method="post" action="/">
      <div class="form-group row">
        <div class="col-6">
          <label for="width"></label>
          <input type="number" class="form-control" placeholder="witdh" name="width" id="width">
        </div>
        <div class="col-6">
          <label for="height"></label>
          <input type="number" class="form-control" placeholder="height" name="height" id="height">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <label for="startCoordinatesX"></label>
          <input type="number" class="form-control" placeholder="startCoordinatesX" name="startCoordinatesX"
            id="startCoordinatesX">
        </div>
        <div class="col-6">
          <label for="startCoordinatesY"></label>
          <input type="number" class="form-control" placeholder="startCoordinatesY" name="startCoordinatesY"
            id="startCoordinatesY">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-6">
          <label for="endCoordinatesX"></label>
          <input type="number" class="form-control" placeholder="endCoordinatesX" name="endCoordinatesX" id="endCoordinatesX">
        </div>
        <div class="col-6">
          <label for="endCoordinatesY"></label>
          <input type="number" class="form-control" placeholder="endCoordinatesY" name="endCoordinatesY" id="endCoordinatesY">
        </div>
      </div>
      <div class="form-group row">
        <div class="col-12">
          <label for="bricksNumber"></label>
          <input type="number" class="form-control" placeholder="bricksNumber" name="bricksNumber" id="bricksNumber">
        </div>
      </div>
      <button type="submit" class="btn btn-primary text-center">Submit</button>
    </form>
  </div>
</main>